.active {
    background: white;
    color: #06b87f;
}

.category_nav {
    width: 200px;
    text-align: center;
}

.category_list {
    border-radius: 15px;
    list-style-type: none;
    padding: 0;
    background: #06b87f;
    position: relative;
    & > * {
        padding: 10px;
    }

    
    
}

.category_list_item {

}

.category_btn {
    pointer-events: none;
}

.category_list_item a {
    color: white;
    text-decoration-line: none;
}




.category_list_item.active a {
    color: #06b87f;
    text-decoration-line: none;
}




